.container {
  width: 100%;
  height: 100vh;
}

.imageContainer {
  width: 100%;
  position: absolute;
}

.images {
  width: 100%;
  height: 100%;
}

.contentContainer {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
}

.maxWContainer {
  height: 100%;
  width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.personContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.image {
  object-fit: cover;
}

.hoverBackground {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: black;
  pointer-events: none;
}

